*.iml
.gradle
.project
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyles
.DS_Store
build/
release/
/captures
.externalNativeBuild
/app/google-services.json
/app/src/main/res/raw/third_party_license_metadata
/app/src/main/res/raw/third_party_licenses
/fastlane/README.md
/fastlane/report.xml
.settings
